<?xml version="1.0"?>
<launch>
    <arg name="num_robots"/>
    <arg name="wireless_range"/>
    <arg name="output" default="log"/>
    <!--<arg name="log_path"/>-->
     
    <node pkg="fake_network" type="fake_network" name="fake_network" output="$(arg output)" required="true">
        <param name="num_robots" value="$(arg num_robots)" />
        <rosparam file="$(find fake_network)/param/param.yaml" command="load"/>
    </node>

</launch>
