<?xml version="1.0"?>

<launch>
  <arg name="log_path" />
  <arg name="frontier_selection" default="7"/>

  <node pkg="explorer" type="explorer" respawn="false" name="explorer" output="screen">
    <param name="frontier_selection" value="$(arg frontier_selection)"/>
    <param name="log_path" value="$(arg log_path)" />
    <rosparam file="$(find explorer)/param/$(env ROBOT_PLATFORM)_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find explorer)/param/$(env ROBOT_PLATFORM)_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find explorer)/param/$(env ROBOT_PLATFORM)_local_costmap_params.yaml" command="load" />
    <rosparam file="$(find explorer)/param/$(env ROBOT_PLATFORM)_global_costmap_params.yaml" command="load" />
  </node>
</launch>
