<?xml version="1.0"?>

<launch>

  <arg name="robot_platform" default="true"/> 
  <arg name="simulation" default="false"/>
  <arg name="log_path" />
  <param name="/use_sim_time" value="$(arg simulation)"/>

<!--  <include file="$(find sound_play)/soundplay_node.launch"/> -->
  
  <!-- ******************************************************************************* --> 
  <!-- ********** START THE MINIMAL LAUNCH FILE TO LOAD AL NECESSARY TOPICS ********** -->
  <!-- ******************************************************************************* -->

  <arg name="base"       default="$(optenv TURTLEBOT_BASE kobuki)"/>  <!-- create, rhoomba -->
  <arg name="battery"    default="$(optenv TURTLEBOT_BATTERY /sys/class/power_supply/BAT0)"/> 
  <arg name="stacks"     default="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  default="$(optenv TURTLEBOT_3D_SENSOR kinect)"/>  <!-- kinect, asus_xtion_pro -->
<!--  <arg name="simulation" default="$(optenv TURTLEBOT_SIMULATION false)"/>-->

  <include file="$(find turtlebot_bringup)/launch/includes/robot.launch.xml">
    <arg name="base" value="$(arg base)" />
    <arg name="stacks" value="$(arg stacks)" />
    <arg name="3d_sensor" value="$(arg 3d_sensor)" />
  </include>
  <include file="$(find turtlebot_bringup)/launch/includes/mobile_base.launch.xml">
    <arg name="base" value="$(arg base)" />
  </include>
  <include file="$(find turtlebot_bringup)/launch/includes/netbook.launch.xml">
    <arg name="battery" value="$(arg battery)" />
  </include>



  <!-- ******************************************************************************* --> 
  <!-- ********** START THE 3D SENSOR TO ESTABLISH MAPPING ********** -->
  <!-- ******************************************************************************* -->

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch">
    <arg name="rgb_processing" value="false" />
    <arg name="depth_registration" value="false" />
    <arg name="depth_processing" value="false" />
   
    <!-- We must specify an absolute topic name because if not it will be prefixed by "$(arg camera)".
         Probably is a bug in the nodelet manager: https://github.com/ros/nodelet_core/issues/7 -->
    <arg name="scan_topic" value="/scan" />
  </include>
 
  <!-- ******************************************************************************* -->
  <!-- ********** START THE GMAPPING NODE ********** -->
  <!-- ******************************************************************************* -->

  <arg name="scan_topic" default="scan" />
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">

    <param name="base_frame" value="base_footprint"/>

    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="1.0"/>
    <param name="maxUrange" value="3.9"/>
    <param name="maxRange" value="15.0"/>
    <param name="sigma" value="0.01"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.01"/>
    <param name="astep" value="0.01"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.05"/>
    <param name="angularUpdate" value="0.05"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="10"/>
  
    <param name="xmin" value="-75.0"/>
    <param name="ymin" value="-75.0"/>
    <param name="xmax" value="75.0"/>
    <param name="ymax" value="75.0"/>

    <param name="delta" value="0.02"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>

  <!-- ******************************************************************************* -->
  <!-- ********** START MOVE BASE ********** -->
  <!-- ******************************************************************************* -->
  <include file="$(find turtlebot_navigation)/launch/includes/velocity_smoother.launch.xml"/>
  <include file="$(find turtlebot_navigation)/launch/includes/safety_controller.launch.xml"/>

  <arg name="odom_topic" default="odom" />


  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   
    <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find turtlebot_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find turtlebot_navigation)/param/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find turtlebot_navigation)/param/base_local_planner_params.yaml" command="load" />

<!--   
    <rosparam file="$(find explorer)/param/turtlebot_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find explorer)/param/turtlebot_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find explorer)/param/turtlebot_local_costmap_params.yaml" command="load" />
    <rosparam file="$(find explorer)/param/turtlebot_global_costmap_params.yaml" command="load" />
    <rosparam file="$(find explorer)/param/base_local_planner_params.yaml" command="load" />
-->
    <rosparam file="$(find turtlebot_navigation)/param/move_base_params.yaml" command="load" />

    <remap from="cmd_vel" to="navigation_velocity_smoother/raw_cmd_vel"/>
    <remap from="odom" to="$(arg odom_topic)"/>

<!--    <remap from="cmd_vel" to="cmd_vel_mux/input/navi_raw"/> -->
  </node>
  
</launch>
 
