<?xml version="1.0"?>
<launch>
    <node name="stage" pkg ="stage_ros" type="stageros" args="$(find multi_robot_simulation)/world/world.world" />
    <param name="use_sim_time"  value="true"/>
    <param name="p_tx" value="1" />
    <param name="tx_power" value="1" />
    <include file="$(find multi_robot_simulation)/launch/robot_0.launch" />
    <include file="$(find multi_robot_simulation)/launch/robot_1.launch" />
    <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find multi_robot_simulation)/multi_robot.rviz" />-->
</launch>
