<?xml version="1.0"?>
<launch>
    <arg name="robot" />
    <arg name="robot_pref" />
    <arg name="output" default="log" />

    <node pkg="move_base" type="move_base" name="move_base" >
        <param name="local_costmap/robot_base_frame" value="$(arg robot_pref)/base_footprint" />
        <param name="local_costmap/global_frame" value="$(arg robot_pref)/odom" />
        <param name="global_costmap/robot_base_frame" value="$(arg robot_pref)/base_footprint" />
        <param name="global_costmap/global_frame" value="$(arg robot_pref)/map" />
        <param name="global_costmap/map_topic" value="map_merger/global_map" />
        <param name="local_costmap/observation_sources" value="scan" />
        <param name="local_costmap/scan/topic" value="base_scan" />
        <param name="local_costmap/scan/data_type" value="LaserScan" />
        <param name="local_costmap/map_topic" value="map_merger/global_map" />
        <param name="local_costmap/scan/clearing" value="true" />
        <param name="local_costmap/scan/marking" value="true" />
        <param name="observation_persistence" value="0.1" />

        <rosparam file="$(find multi_robot_simulation)/param/common_costmap.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find multi_robot_simulation)/param/common_costmap.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find multi_robot_simulation)/param/navigation.yaml"     command="load" />
        <rosparam file="$(find multi_robot_simulation)/param/local_costmap.yaml"  command="load" />
        <rosparam file="$(find multi_robot_simulation)/param/global_costmap.yaml" command="load" />

        <remap from="$(arg robot_pref)$(arg robot_pref)/map" to="$(arg robot_pref)/map" />
    </node>
</launch>
