<?xml version="1.0"?>
<launch>
<arg name="output" default="log"/>
<arg name="robot_prefix"/>
<arg name="x"/>
<arg name="y"/>
<arg name="log_path"/>
 <!--   <arg name="num_robots"/> 		-->
 
 
    <node pkg="energy_mgmt" type="energy_mgmt" name="energy_mgmt" output="$(arg output)">
        <param name="num_robots" value="2" />
        <param name="robot_prefix" value ="$(arg robot_prefix)" />

        <param name="x" value ="$(arg x)" />
        <param name="y" value ="$(arg y)" />
        
        <param name="log_path" value="$(arg log_path)" />

        <rosparam file="$(find energy_mgmt)/param/docking.yaml" command="load"/>
    <!--   <param name="robot_prefix" value="$(arg robot_prefix)"/> -->
    <!--     <rosparam file="$(find energy_mgmt)/param/battery_simulation.yaml" command="load"/>
        <rosparam file="$(find energy_mgmt)/param/docking_common.yaml" command="load"/>

       <param name="robot_prefix" value="$(arg robot_prefix)"/>		-->
   <!--     <param name="move_base_frame" value="$(arg robot_prefix)/map"/>	-->
   <!--     <param name="num_robots" value="$(arg num_robots)"/>		-->
    </node>

</launch>
